$accent: #fe3e57;
$default: #8d8d8d;
$title: #29282d;
$bg: #f6f6f6;

%quicksand-400 {
  font-family: "Quicksand-Regular", sans-serif;
  font-weight: 400;
}

%quicksand-500 {
  font-family: "Quicksand-Medium", sans-serif;
  font-weight: 500;
}

%roboto-400 {
  font-family: "Roboto-Regular", sans-serif;
  font-weight: 400;
}

%roboto-500 {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
}

%roboto-700 {
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
}

%btn {
  padding: 13px 26px;
  @extend %roboto-400;
  text-transform: uppercase;
  color: #fff;
  background-color: $accent;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s;

  &:hover {
    color: $title;
    background-color: #fff;
    border-color: $accent;
    box-shadow: none;
  }
}

%checkbox-hidden,
%radio-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}

$r-dt: 1235;
$r-tb: 900;
$r-tm: 768;
$r-ph: 556;

@mixin r($width) {
  @media (max-width: #{$width}px) {
    @content;
  }
}
// @include r($r-dt) {}

// ____Обрезка текста_____
@mixin line-clamp($lines: 1) {
  @if $lines <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
  }
}
//   @include line-clamp(3);