.blog-page {
   padding: 120px 0 60px;

   @include r($r-tm) {
      padding: 60px 0 0;
   }

   @include r($r-dt) {
      .filter-category,
      .filter-popular {
         display: none;
      }
   }

   &__item--slider {
      .blog-page__item-box {
         margin-top: -8px;
      }
   }

   &__slider {
      .slick-prev,
      .slick-next{
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         z-index: 5;
         width: 40px;
         height: 40px;
         background-color: $accent;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 50%;
         border-color: transparent;
         cursor: pointer;
         box-shadow: 0px 7px 20px 0px rgba(254, 62, 87, 0.3);

         svg {
            width: 9px;
            height: 14px;
            fill: #fff;
         }
      }
      
      .slick-disabled {
         background-color: #fff;
         box-shadow: 0px 7px 20px 0px rgba(168, 168, 168, 0.3);
         svg {
            fill: $accent;
         }
      }

      .slick-prev{
         left: 40px;

         @include r($r-ph) {
            left: 10px;
         }
      }

      .slick-next{
         right: 40px;

         @include r($r-ph) {
            right: 10px;
         }
      }
   }
   
   &__inner {
      display: flex;
      justify-content: space-between;

      @include r($r-dt) {
         flex-direction: column;
      }

   }

   &__content {
      width: 770px;
      margin-right: 30px;

      @include r($r-dt) {
         width: 100%;
         margin-right: 0;
      }
   }

   &__aside {
      width: 370px;

      @include r($r-dt) {
         width: 100%;
         order: -1;
      }

   }

   &__item {
      margin-bottom: 60px;
      &.blog-page__item--no-image {
         border-top: 1px solid #ececec;
         box-shadow: 0px 20px 60px 0px rgba(202, 202, 202, 0.35);
      }
   }

   &__item-link {
      display: block;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
   }

   &__img {
      max-width: 770px;
      height: 450px;
      object-fit: cover;
      display: block;

      @include r($r-dt) {
         max-width: 100%;
         width: 100%;
      }

      @include r($r-tm) {
         height: 260px;
      }

      @include r($r-ph) {
         height: 170px;
      }
   }

   &__item-box {
      border: 1px solid #ececec;
      border-top: none;
      padding: 40px;

      @include r($r-tm) {
         padding: 20px;
      }

      @include r($r-ph) {
         padding: 10px 5px;
      }
   }

   &__item-title {
      color: $title;
      font-size: 22px;
      @extend %roboto-500;
      line-height: 1.45;
      margin-bottom: 20px;
      transition: color .3s;

      &:hover {
         color: $accent;
      }
   }

   .blog-box {
      justify-content: start;

      &__author {
         margin-right: 30px;
      }
   }
}

.person {
   border: 1px solid #ececec;
   margin-bottom: 40px;
   text-align: center;
   padding: 40px 25px;

   @include r($r-dt) {
      display: none;
   }

   &__img {
      display: inline-block;
      width: 160px;
      height: 160px;
      object-fit: cover;
      margin: 0 auto 35px;
   }

   &__name {
      color: $title;
      font-size: 18px;
      @extend %roboto-700;
      margin-bottom: 10px;
   }

   &__position {
      color: $accent;
      margin-bottom: 25px;
   }

   &__text {
      margin-bottom: 25px;
   }

   &__social-link {
      margin: 0 8px;
      svg {
         width: 17px;
         height: 17px;
         fill: $default;
         transition: all .3s;
      }

      &:hover {
         svg {
            fill: $accent;
         }
      }
   }
}

.latest-post {
   padding: 35px 29px 40px;
   margin-bottom: 40px;
   border: 1px solid #ececec;

   @include r($r-dt) {
      display: none;
   }

   &__title {
      color: $title;
      text-transform: uppercase;
      @extend %roboto-400;
      font-size: 22px;
      margin-bottom: 35px;
   }

   &__item {
      margin-bottom: 20px;
      display: flex;

      &:not(:last-child) {
         border-bottom: 1px solid #ececec;
         padding-bottom: 20px;
      }
   }

   &__img-link {
      display: block;
      margin-right: 20px;
      min-width: 80px;
   }

   &__img {
      width: 80px;
      height: 80px;
      object-fit: cover;
   }

   &__title-link {
      @extend %roboto-400;
      font-size: 18px;
      color: $title;
      line-height: 1.55;
   }

   &__box-title {
      @extend %roboto-400;
      font-size: 18px;
      color: $title;
      line-height: 1.55;
      margin-bottom: 5px;
   }

   &__date {
      padding-left: 26px;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         left: 0;
         top: 2px;
         background-image: url('../images/icons/calendar.svg');
         width: 16px;
         height: 16px;
      }
   }
}

.filter-search {
   &__input {
      @include r($r-dt) {
         width: 100%;
      }
   }
}

.filter__item {
   @include r($r-ph) {
      padding: 25px 15px;
   }
}