<div class="shop-content">
   <div class="shop-content__filter">

      <div class="shop-content__filter-buttons">
         <span>View</span>
         <button class="shop-content__filter-btn shop-content__filter-btn--active button-grid">
            <svg>
               <use xlink:href="images/sprite.svg#grid"></use>
            </svg>
         </button>

         <button class="shop-content__filter-btn button-list">
            <svg>
               <use xlink:href="images/sprite.svg#list"></use>
            </svg>
         </button>

      </div>
      <div class="shop-content__filter-selects">
         <form class="shop-content__filter-form" action="#">
            <select class="shop-content__filter-sort select-style">
               <option value="">Sort By Default</option>
               <option value="">2</option>
               <option value="">3</option>
               <option value="">4</option>
            </select>

            <select class="shop-content__filter-show select-style">
               <option value="">Show 9</option>
               <option value="">2</option>
               <option value="">3</option>
               <option value="">4</option>
            </select>
         </form>
      </div>

   </div>

   <div class="shop-content__inner">

      <div class="product-item">
         <div class="product-item__img-box">
            <img class="product-item__images" src="images/product/1.jpg" alt="product">

            <div class="product-item__link-box">
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#glass"></use>
                  </svg>
               </a>
               <a class="product-item__link product-item__link--line" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#bag"></use>
                  </svg>
               </a>
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#love"></use>
                  </svg>
               </a>
            </div>
         </div>

         <div class="product-item__wrapper-box">

            <div class="product-item__box">
               <div class="star" data-rateyo-rating="4.5"></div>
               <h3 class="product-item__title">
                  White Polo Men’s T-Shirt
               </h3>
               <div class="product-item__price">
                  <div class="product-item__new-price">$34.00</div>
                  <div class="product-item__old-price">$27.00</div>
               </div>
            </div>

            <div class="product-item__content-box">
               <p class="product-item__text">
                  Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et dolore magna aliqua.
               </p>
               <button class="product-item__btn">Add to cart</button>
            </div>

         </div>

      </div>

      <div class="product-item product-item--sale">
         <div class="product-item__img-box">
            <img class="product-item__images" src="images/product/2.jpg" alt="product">

            <div class="product-item__link-box">
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#glass"></use>
                  </svg>
               </a>
               <a class="product-item__link product-item__link--line" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#bag"></use>
                  </svg>
               </a>
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#love"></use>
                  </svg>
               </a>
            </div>
         </div>

         <div class="product-item__wrapper-box">

            <div class="product-item__box">
               <div class="star" data-rateyo-rating="4"></div>
               <h3 class="product-item__title">
                  White Polo Men’s T-Shirt
               </h3>
               <div class="product-item__price">
                  <div class="product-item__new-price">$34.00</div>
                  <div class="product-item__old-price">$27.00</div>
               </div>
            </div>

            <div class="product-item__content-box">
               <p class="product-item__text">
                  Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et dolore magna aliqua.
               </p>
               <button class="product-item__btn">Add to cart</button>
            </div>

         </div>
      </div>

      <div class="product-item">
         <div class="product-item__img-box">
            <img class="product-item__images" src="images/product/3.jpg" alt="product">

            <div class="product-item__link-box">
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#glass"></use>
                  </svg>
               </a>
               <a class="product-item__link product-item__link--line" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#bag"></use>
                  </svg>
               </a>
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#love"></use>
                  </svg>
               </a>
            </div>
         </div>

         <div class="product-item__wrapper-box">

            <div class="product-item__box">
               <div class="star" data-rateyo-rating="4.5"></div>
               <h3 class="product-item__title">
                  White Polo Men’s T-Shirt
               </h3>
               <div class="product-item__price">
                  <div class="product-item__new-price">$34.00</div>
                  <div class="product-item__old-price">$27.00</div>
               </div>
            </div>

            <div class="product-item__content-box">
               <p class="product-item__text">
                  Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et dolore magna aliqua.
               </p>
               <button class="product-item__btn">Add to cart</button>
            </div>

         </div>

      </div>

      <div class="product-item product-item--sale">
         <div class="product-item__img-box">
            <img class="product-item__images" src="images/product/4.jpg" alt="product">

            <div class="product-item__link-box">
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#glass"></use>
                  </svg>
               </a>
               <a class="product-item__link product-item__link--line" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#bag"></use>
                  </svg>
               </a>
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#love"></use>
                  </svg>
               </a>
            </div>
         </div>

         <div class="product-item__wrapper-box">

            <div class="product-item__box">
               <div class="star" data-rateyo-rating="4.2"></div>
               <h3 class="product-item__title">
                  White Polo Men’s T-Shirt
               </h3>
               <div class="product-item__price">
                  <div class="product-item__new-price">$34.00</div>
                  <div class="product-item__old-price">$27.00</div>
               </div>
            </div>

            <div class="product-item__content-box">
               <p class="product-item__text">
                  Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et dolore magna aliqua.
               </p>
               <button class="product-item__btn">Add to cart</button>
            </div>

         </div>

      </div>

      <div class="product-item">
         <div class="product-item__img-box">
            <img class="product-item__images" src="images/product/5.jpg" alt="product">

            <div class="product-item__link-box">
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#glass"></use>
                  </svg>
               </a>
               <a class="product-item__link product-item__link--line" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#bag"></use>
                  </svg>
               </a>
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#love"></use>
                  </svg>
               </a>
            </div>
         </div>

         <div class="product-item__wrapper-box">

            <div class="product-item__box">
               <div class="star" data-rateyo-rating="4.7"></div>
               <h3 class="product-item__title">
                  White Polo Men’s T-Shirt
               </h3>
               <div class="product-item__price">
                  <div class="product-item__new-price">$34.00</div>
                  <div class="product-item__old-price">$27.00</div>
               </div>
            </div>

            <div class="product-item__content-box">
               <p class="product-item__text">
                  Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et dolore magna aliqua.
               </p>
               <button class="product-item__btn">Add to cart</button>
            </div>

         </div>

      </div>

      <div class="product-item product-item--sale">
         <div class="product-item__img-box">
            <img class="product-item__images" src="images/product/6.jpg" alt="product">

            <div class="product-item__link-box">
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#glass"></use>
                  </svg>
               </a>
               <a class="product-item__link product-item__link--line" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#bag"></use>
                  </svg>
               </a>
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#love"></use>
                  </svg>
               </a>
            </div>
         </div>

         <div class="product-item__wrapper-box">

            <div class="product-item__box">
               <div class="star" data-rateyo-rating="4"></div>
               <h3 class="product-item__title">
                  White Polo Men’s T-Shirt
               </h3>
               <div class="product-item__price">
                  <div class="product-item__new-price">$34.00</div>
                  <div class="product-item__old-price">$27.00</div>
               </div>
            </div>

            <div class="product-item__content-box">
               <p class="product-item__text">
                  Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et dolore magna aliqua.
               </p>
               <button class="product-item__btn">Add to cart</button>
            </div>

         </div>

      </div>

      <div class="product-item">
         <div class="product-item__img-box">
            <img class="product-item__images" src="images/product/7.jpg" alt="product">

            <div class="product-item__link-box">
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#glass"></use>
                  </svg>
               </a>
               <a class="product-item__link product-item__link--line" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#bag"></use>
                  </svg>
               </a>
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#love"></use>
                  </svg>
               </a>
            </div>
         </div>

         <div class="product-item__wrapper-box">

            <div class="product-item__box">
               <div class="star" data-rateyo-rating="4.5"></div>
               <h3 class="product-item__title">
                  White Polo Men’s T-Shirt
               </h3>
               <div class="product-item__price">
                  <div class="product-item__new-price">$34.00</div>
                  <div class="product-item__old-price">$27.00</div>
               </div>
            </div>

            <div class="product-item__content-box">
               <p class="product-item__text">
                  Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et dolore magna aliqua.
               </p>
               <button class="product-item__btn">Add to cart</button>
            </div>

         </div>

      </div>

      <div class="product-item">
         <div class="product-item__img-box">
            <img class="product-item__images" src="images/product/8.jpg" alt="product">

            <div class="product-item__link-box">
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#glass"></use>
                  </svg>
               </a>
               <a class="product-item__link product-item__link--line" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#bag"></use>
                  </svg>
               </a>
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#love"></use>
                  </svg>
               </a>
            </div>
         </div>

         <div class="product-item__wrapper-box">

            <div class="product-item__box">
               <div class="star" data-rateyo-rating="4.5"></div>
               <h3 class="product-item__title">
                  White Polo Men’s T-Shirt
               </h3>
               <div class="product-item__price">
                  <div class="product-item__new-price">$34.00</div>
                  <div class="product-item__old-price">$27.00</div>
               </div>
            </div>

            <div class="product-item__content-box">
               <p class="product-item__text">
                  Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et dolore magna aliqua.
               </p>
               <button class="product-item__btn">Add to cart</button>
            </div>

         </div>

      </div>

      <div class="product-item">
         <div class="product-item__img-box">
            <img class="product-item__images" src="images/product/9.jpg" alt="product">

            <div class="product-item__link-box">
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#glass"></use>
                  </svg>
               </a>
               <a class="product-item__link product-item__link--line" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#bag"></use>
                  </svg>
               </a>
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#love"></use>
                  </svg>
               </a>
            </div>
         </div>

         <div class="product-item__wrapper-box">

            <div class="product-item__box">
               <div class="star" data-rateyo-rating="4.5"></div>
               <h3 class="product-item__title">
                  White Polo Men’s T-Shirt
               </h3>
               <div class="product-item__price">
                  <div class="product-item__new-price">$34.00</div>
                  <div class="product-item__old-price">$27.00</div>
               </div>
            </div>

            <div class="product-item__content-box">
               <p class="product-item__text">
                  Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et dolore magna aliqua.
               </p>
               <button class="product-item__btn">Add to cart</button>
            </div>

         </div>

      </div>

      <div class="product-item">
         <div class="product-item__img-box">
            <img class="product-item__images" src="images/product/10.jpg" alt="product">

            <div class="product-item__link-box">
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#glass"></use>
                  </svg>
               </a>
               <a class="product-item__link product-item__link--line" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#bag"></use>
                  </svg>
               </a>
               <a class="product-item__link" href="#">
                  <svg>
                     <use xlink:href="images/sprite.svg#love"></use>
                  </svg>
               </a>
            </div>
         </div>

         <div class="product-item__wrapper-box">

            <div class="product-item__box">
               <div class="star" data-rateyo-rating="4.5"></div>
               <h3 class="product-item__title">
                  White Polo Men’s T-Shirt
               </h3>
               <div class="product-item__price">
                  <div class="product-item__new-price">$34.00</div>
                  <div class="product-item__old-price">$27.00</div>
               </div>
            </div>

            <div class="product-item__content-box">
               <p class="product-item__text">
                  Lorem ipsum dolor sit amet, adipiscing elit, sed de eusmod utlitoi labore et dolore magna aliqua.
               </p>
               <button class="product-item__btn">Add to cart</button>
            </div>

         </div>

      </div>

   </div>

   <div class="pagination">
      <a class="pagination__prev pagination__arrows" href="#">
         PREVIOUS
      </a>
      <ul class="pagination__list">
         <li class="pagination__item"><a class="pagination__link" href="#">1</a></li>
         <li class="pagination__item"><a class="pagination__link" href="#">2</a></li>
         <li class="pagination__item"><a class="pagination__link pagination__link--active" href="#">3</a></li>
         <li class="pagination__item"><span class="pagination__link">....</span></li>
         <li class="pagination__item"><a class="pagination__link" href="#">10</a></li>
      </ul>
      <a class="pagination__next pagination__arrows" href="#">
         NEXT
      </a>
   </div>

</div>