<section class="top">
   <div class="top__container" style="background-image: url('images/top-bg.jpg');">
      <div class="container">
         <h1 class="top__title title">@pageTitle</h1>
         <div class="breadcrumbs">
            <ul class="breadcrumbs__list">

               <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="#">
                     Home
                  </a>
               </li>

               <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="#">
                     @pageTitle
                  </a>
               </li>

            </ul>
         </div>
      </div>
   </div>
</section>