<section class="categories-info">
   <div class="categories-info__inner">
      <div class="container">
         <div class="info">

            <div class="info__item">
               <img src="images/truck.png" alt="truck">
               <h3 class="info__item-title">Free Shipping Order $100</h3>
               <p class="info__item-text">
                  Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
               </p>
            </div>

            <div class="info__item">
               <img src="images/circle.png" alt="circle">
               <h3 class="info__item-title">30 Days Easy Return</h3>
               <p class="info__item-text">
                  Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
               </p>
            </div>

            <div class="info__item">
               <img src="images/hand.png" alt="hand">
               <h3 class="info__item-title">24/7 Customer Support</h3>
               <p class="info__item-text">
                  Lorem ipsum dolor sit amet, consectet adipiscing elit, sed do
               </p>
            </div>

         </div>

         <div class="categories">
            <h2 class="title">TOP CATEGORIES</h2>
            <div class="text">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmo tempor ut labore et dolore aliqua.
            </div>

            <ul class="categories__items">

               <li class="categories__item" style="background-image: url('images/content/categories/jewellry.jpg');">
                  <p class="categories__item-subtitle">Up To 40% Off</p>
                  <h3 class="categories__item-title">Shoes & Jewellry</h3>
                  <a class="categories__link" href="#">EXPLORE MORE</a>
               </li>

               <li class="categories__item" style="background-image: url('images/content/categories/accessories.jpg');">
                  <p class="categories__item-subtitle">New Arrival</p>
                  <h3 class="categories__item-title">Clothes & Accessories</h3>
                  <a class="categories__link" href="#">EXPLORE MORE</a>
               </li>

               <li class="categories__item" style="background-image: url('images/content/categories/men.jpg');">
                  <p class="categories__item-subtitle">Trending Now</p>
                  <h3 class="categories__item-title">Men’s Fashion</h3>
                  <a class="categories__link" href="#">EXPLORE MORE</a>
               </li>

               <li class="categories__item" style="background-image: url('images/content/categories/girl.jpg');">
                  <p class="categories__item-subtitle">Hot Collection</p>
                  <h3 class="categories__item-title">Girl’s Fashion</h3>
                  <a class="categories__link" href="#">EXPLORE MORE</a>
               </li>

            </ul>

         </div>

      </div>
   </div>
</section>